.Rproj.user
.Rhistory
.RData
.Ruserdata
data/raw/
.DS_Store
#Raw reads and reference
data/raw/
data/reference/
# Large alignment files (could not upload to GitHub)
results/alignment/*.sam
results/alignment/*.bam
results/alignment/*.bai
# but allow the small Flye HQ assembly-to-ref alignment files
!results/alignment/flye_hq_to_ref.sam
!results/alignment/flye_hq_to_ref.bam
!results/alignment/flye_hq_to_ref.sorted.bam
!results/alignment/flye_hq_to_ref.sorted.bam.bai