.Rproj.user
.Rhistory
.RData
.Ruserdata
data/raw/
.DS_Store
data/raw/
data/reference/
results/flye/00-assembly/
results/flye/10-consensus/
results/flye/20-repeat/
results/flye/30-contigger/
results/flye/40-polishing/
assembly_graph.*
results/quast/**/icarus_viewers/
results/quast/**/aligned_stats/
results/quast/**/*.tex
results/quast/**/*.pdf